@model CVUploader.ViewModels.AdminViewModel

<div>
    <h2>All Users</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>CV</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                var cv = Model.CVs.FirstOrDefault(c => c.UserId == user.Id);
<tr>
    <td>@user.UserName</td>
    <td>
        @if (cv != null)
        {
<a href="@Url.Action("DownloadCV", new { id = cv.Id })">Download CV</a> }
                else
                {
<span>No CV uploaded</span>}
    </td>
</tr>            }
        </tbody>
    </table>
</div>
