@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to your Job portal</h1>
    <p>Upload yor CV's and manage them on your own'.</p>
    <p>
        <a class="btn btn-primary" href="/Identity/Account/Register">Register</a>
        <a class="btn btn-secondary" href="/Identity/Account/Login">Login</a>
    </p>
</div>